Executables/**
.ipynb_checkpoints/
__pycache__/
*.c
*.o
*.json
.DS_Store
*.html
*.pkl
*.parquet
*.pyc
*.pyo
*.pyd
*.egg-info/
*.blend
*.blend1
*.xcf
*.png
*.pdf
*.svg
*.mp4


paper/  # Ignore the "paper" folder
# Keeping example colliders
# !examples/run_xmask_jobs/colliders/*.json

